.rw-Pagination-list {
  padding: initial;
  margin: initial;
}

.rw-Pagination-list-item {
  display: inline-block;
}

.rw-Pagination-button {
  font-size: inherit;
  background: transparent;
  border: none;
  cursor: pointer;
}

.rw-Pagination-button:disabled {
  cursor: initial;
}

.rw-Pagination-button-icon {
  margin-bottom: -0.125em;
}

.rw-Pagination-button-active {
  font-weight: bold;
  text-decoration: underline;
}

.rw-Pagination-ellipsis {
  display: inline-block;
  padding-left: $unit / 2;
  padding-right: $unit / 2;
}
