$unit: 0.5rem;
$color-dark: #222;
$color-light: #fff;
$color-gray: #eee;
$left-nav-width: 240px;

.mt-1 {
  margin-top: $unit;
}

.ml-1 {
  margin-left: $unit;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

header {
  display: block;
  background: $color-dark;
  padding: $unit;

  h1 {
    display: inline-block;
    margin: 0;
    margin-left: $unit * 2;
    font-size: 1.2em;
    color: $color-light;
  }
}

main {
  position: fixed;
  left: $left-nav-width;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-y: auto;
}

.main-content {
  padding: $unit * 2;
  max-width: 960px;
  margin: 0 auto;
}

.left-nav {
  position: fixed;
  background: $color-dark;
  height: 100%;
  width: $left-nav-width;
  overflow-y: auto;
  max-width: 100%;

  ul,
  li {
    padding: 0;
    margin: 0;
  }

  li {
    list-style-type: none;
  }

  a {
    color: $color-light;
    display: block;
    padding: 16px;
    text-decoration: none;
    font-family: monospace;
    font-size: 1.5em;

    &::before {
      opacity: 0.4;
      content: '<';
    }

    &::after {
      opacity: 0.4;
      content: '/>';
    }

    &:hover,
    &:focus {
      background: $color-gray;
      color: $color-dark;
    }

    &.active {
      background: $color-light;
      color: $color-dark;
      font-weight: bold;
    }
  }
}

.doc-page {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: sans-serif;
  }

  section + section {
    margin-top: $unit * 4;
  }

  .doc-page-component-name {
    font-family: monospace;
    font-size: 3em;

    &::before {
      opacity: 0.4;
      content: '<';
    }

    &::after {
      opacity: 0.4;
      content: '/>';
    }
  }
}

.props-table {
  font-family: sans-serif;
  text-align: left;
  border-spacing: 0;
  width: 100%;
  box-shadow: 0 2px 8px 0px #888;

  th {
    background-color: $color-gray;
    padding: $unit * 2;
  }

  td {
    padding: $unit * 2;
    border-bottom: 1px solid #ddd;
  }

  td:first-child {
    font-family: monospace;
  }

  tr:last-child td {
    border-bottom: none;
  }
}

.doc-example {
  box-shadow: 0 2px 8px 0px #888;

  + .doc-example {
    margin-top: $unit * 4;
  }

  .doc-example-header {
    margin: 0;
    padding: $unit * 2;
    background-color: $color-gray;
    font-family: sans-serif;

    h4 {
      margin: 0;
    }

    span:not(:empty) {
      display: inline-block;
      margin-top: $unit * 2;
    }
  }

  .doc-example-rendered {
    padding: $unit * 2;
  }

  .doc-example-code {
    background-color: #222;
    color: $color-gray;
    padding: $unit * 2;
    overflow: auto;

    pre {
      margin: 0;
    }
  }
}

.modal-content-example {
  background-color: teal;
  color: white;
  display: flex;
  font-family: sans-serif;
  align-items: center;
  justify-content: center;
}
