.#{prefix(Button)} {
  background: transparent;
  font-size: $size-md;
  font-weight: bold;
  font-family: $font-sans;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  border-radius: $input-border-radius;
  line-height: 1em;
  height: 2.5 * $unit;
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;

  &:focus {
    outline: none;
    border: none;
    box-shadow: $focus-shadow;
  }

  &::-moz-focus-inner {
    border: 0;
  }

  &[disabled] {
    opacity: 0.5;
    cursor: auto;
  }

  &.is-alt {
    $border-width: 0.2em;
    border-style: solid;
    border-width: $border-width;
    padding-left: 0.75em - $border-width;
    padding-right: 0.75em - $border-width;
  }

  @each $style in 'primary', 'secondary', 'success', 'alert', 'warning' {
    $bg: map-get($colors, $style);
    $fg: if(lightness($bg) < 50, $color-light, $color-dark);

    &.is-#{$style} {
      background-color: $bg;
      color: $fg;

      &.is-plain {
        background-color: $fg;
        color: $bg;
      }

      &.is-alt {
        background-color: $fg;
        color: $bg;
        border-color: $bg;
      }
    }
  }

  &.is-size-sm {
    font-size: $size-sm;
    height: 2 * $unit;
  }

  &.is-size-md {
    font-size: $size-md;
    height: 2.5 * $unit;
  }

  &.is-size-lg {
    font-size: $size-lg;
    height: 3 * $unit;
  }
}

.#{prefix(Button-text)} {
  &.has-icon {
    margin-left: 1.5em;
  }

  &.is-icon-only {
    margin-left: 1em;
  }
}

.#{prefix(Button-icon)} {
  position: relative;

  svg {
    box-sizing: border-box;
    width: 1em;
    height: 1em;
    position: absolute;
  }
}
