.#{prefix(Button)} {
  background: transparent;
  font-size: $size-md;
  font-weight: bold;
  font-family: $font-sans;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  line-height: 1em;
  letter-spacing: 0.1em;
  padding: 0.75em 1em;
  transition: transform 0.1s ease-in-out;
  border-radius: $input-border-radius;

  &:focus {
    outline: none;
    border: none;
    box-shadow: $focus-shadow;
  }

  &[disabled] {
    opacity: 0.5;
    cursor: auto;
  }

  &.is-alt {
    $border-width: 0.25em;
    border-style: solid;
    border-width: $border-width;
    padding: (0.75em - $border-width) (1em - $border-width);
  }

  @each $style in 'primary', 'secondary', 'success', 'alert', 'warning' {
    $bg: map-get($colors, $style);
    $fg: if(lightness($bg) < 50, $color-light, $color-dark);

    &.is-#{$style} {
      background-color: $bg;
      color: $fg;

      &.is-plain {
        background-color: $fg;
        color: $bg;
      }

      &.is-alt {
        background-color: $fg;
        color: $bg;
        border-color: $bg;
      }
    }
  }

  &.is-size-sm {
    font-size: $size-sm;
  }

  &.is-size-lg {
    font-size: $size-lg;
  }
}
