@mixin button-style($style: 'primary') {
  $bg: map-get($colors, $style);
  $fg: $color-dark;

  @if (lightness($bg) < 50) {
    $fg: $color-light;
  }

  background-color: $bg;
  color: $fg;

  &.is-plain {
    background-color: $fg;
    color: $bg;
  }

  &.is-alt {
    background-color: $fg;
    color: $bg;
    border-color: $bg;
  }
}

.#{prefix(Button)} {
  background: transparent;
  font-size: $size-m;
  font-weight: bold;
  font-family: inherit;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  line-height: 1em;
  letter-spacing: 0.1em;
  padding: 0.75em 1em;
  transition: transform 0.1s ease-in-out;
  border-radius: $input-border-radius;

  &:focus {
    outline: none;
    border: none;
    box-shadow: $focus-shadow;
  }

  &[disabled] {
    opacity: 0.5;
    cursor: auto;
  }

  &.is-alt {
    $border-width: 0.25em;
    border-style: solid;
    border-width: $border-width;
    padding: (0.75em - $border-width) (1em - $border-width);
  }

  &.is-primary { @include button-style('primary'); }
  &.is-secondary { @include button-style('secondary'); }
  &.is-success { @include button-style('success'); }
  &.is-alert { @include button-style('alert'); }
  &.is-warning { @include button-style('warning'); }

  &.is-icon-only {
    width: 4.5 * 1em;
    padding-left: 0;
    padding-right: 0;
  }

  > .icon {
    margin-right: 1em / 2;

    &:only-child {
      margin-right: 0;
    }
  }

  @each $sizeName, $size in $sizes {
    &.is-size-#{$sizeName} {
      font-size: $size;
    }
  }
}
