.#{prefix(Toggle)} {
  position: relative;
  font-size: $size-md;
  vertical-align: middle;

  &.is-size-sm {
    font-size: $size-sm;
  }

  &.is-size-md {
    font-size: $size-md;
  }

  &.is-size-lg {
    font-size: $size-lg;
  }
}

.#{prefix(Toggle-input)} {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  opacity: 0;

  &:focus + .#{prefix(Toggle-label)} > .#{prefix(Toggle-widget)} {
    box-shadow: $Toggle-focus-shadow;
  }

  &:checked + .#{prefix(Toggle-label)} > .#{prefix(Toggle-widget)} {
    background-color: $Toggle-checked-background-color;

    &:after {
      transform: translateX(1em);
    }
  }

  &[disabled] + .#{prefix(Toggle-label)} {
    opacity: 0.5;
    cursor: default;
  }
}

.#{prefix(Toggle-label)} {
  vertical-align: middle;
  cursor: pointer;
}

.#{prefix(Toggle-widget)} {
  display: inline-block;
  box-sizing: border-box;
  width: 2em;
  height: 1em;
  background-color: $Toggle-background-color;
  border-radius: $Toggle-border-radius;
  vertical-align: middle;
  position: relative;
  top: -($unit / 8);
  margin-right: $Toggle-margin-right;

  &:after {
    content: '';
    position: absolute;
    left: 0.125em;
    top: 0.125em;
    width: 0.75em;
    height: 0.75em;
    background: $Toggle-checked-mark-color;
    border-radius: 100%;
    transition: $Toggle-transition;
  }
}
