.#{prefix(TextInput)} {
  display: block;
  width: $TextInput-width;
  font-size: $size-md;
  font-family: $TextInput-font-family;
  padding: 0.5em;
  background-color: $TextInput-background-color;
  border-radius: $TextInput-border-radius;
  border: 1px solid $TextInput-border-color;
  box-sizing: border-box;

  &.is-size-sm {
    font-size: $size-sm;
  }

  &.is-size-lg {
    font-size: $size-lg;
  }

  &.is-multiline {
    resize: vertical;
    min-height: 2em;
  }

  &.is-autoresize {
    resize: none;
    overflow: hidden;
  }

  &:focus {
    outline: 0;
    box-shadow: $TextInput-focus-shadow;
  }
}
