.#{prefix(TextInput)} {
  display: block;
  width: $TextInput-width;
  font-family: $TextInput-font-family;
  box-sizing: border-box;
  position: relative;

  &.is-size-sm {
    .#{prefix(TextInput-icon)} {
      top: $size-sm * 0.25;
      left: $size-sm * 0.55;

      svg {
        width: $size-sm;
        height: $size-sm;
      }
    }
  }

  &.is-size-md {
    .#{prefix(TextInput-icon)} {
      top: $size-md * 0.6;
      left: $size-md * 0.55;

      svg {
        width: $size-md;
        height: $size-md;
      }
    }
  }

  &.is-size-lg {
    .#{prefix(TextInput-icon)} {
      top: $size-lg * 0.6;
      left: $size-lg * 0.55;

      svg {
        width: $size-lg;
        height: $size-lg;
      }
    }
  }
}

.#{prefix(TextInput-input)} {
  display: block;
  width: 100%;
  font-size: $size-md;
  min-height: $size-md * 2;
  font-family: $TextInput-font-family;
  padding: 0.5em;
  background-color: $TextInput-background-color;
  border-radius: $TextInput-border-radius;
  border: 1px solid $TextInput-border-color;
  box-sizing: border-box;

  &.has-icon {
    padding-left: 2em;
  }

  &.is-size-sm {
    font-size: $size-sm;
    min-height: $size-sm * 2;
  }

  &.is-size-md {
    font-size: $size-md;
    min-height: $size-md * 2;
  }

  &.is-size-lg {
    font-size: $size-lg;
    min-height: $size-lg * 2;
  }

  &.is-multiline {
    resize: vertical;
    min-height: 2em;
  }

  &.is-autoresize {
    resize: none;
    overflow: hidden;
  }

  &:focus {
    outline: 0;
    box-shadow: $TextInput-focus-shadow;
  }
}

.#{prefix(TextInput-icon)} {
  position: absolute;
  color: $TextInput-border-color;
  top: $size-md * 0.6;
  left: $size-md * 0.55;
  pointer-events: none;

  svg {
    width: $size-md;
    height: $size-md;
  }
}

