.#{prefix(Textbox)} {
  display: block;
  width: $Textbox-width;
  font-size: $size-md;
  font-family: $Textbox-font-family;
  padding: 0.5em;
  background-color: $Textbox-background-color;
  border-radius: $Textbox-border-radius;
  border: 1px solid $Textbox-border-color;
  box-sizing: border-box;

  &.is-size-sm {
    font-size: $size-sm;
  }

  &.is-size-lg {
    font-size: $size-lg;
  }

  &.is-multiline {
    resize: vertical;
    min-height: 2em;
  }

  &.is-autoresize {
    resize: none;
    overflow: hidden;
  }

  &:focus {
    outline: 0;
    box-shadow: $Textbox-focus-shadow;
  }
}
