.#{prefix(Textbox)} {
  width: 100%;
  font-size: $size-md;
  font-family: $font-sans;
  padding: 0.5em;
  border-radius: $input-border-radius;
  border: 1px solid $color-dark;
  box-sizing: border-box;

  &.is-size-sm {
    font-size: $size-sm;
  }

  &.is-size-lg {
    font-size: $size-lg;
  }

  &.is-multiline {
    resize: vertical;
    min-height: 2em;
  }

  &.is-autoresize {
    resize: none;
    overflow: hidden;
  }

  &:focus {
    outline: 0;
    box-shadow: $focus-shadow;
  }
}
