@import '../shared/_variables.scss';

.progress-bar.#{$namespace} {
  position: relative;

  .svg {
    display: block;
  }

  .bar {
    fill: $progress-foreground-color;
    transition: stroke-dashoffset 0.1s ease-in-out;
  }

  .bg-bar {
    fill: transparent;
    stroke: transparentize($progress-foreground-color, 0.8);
  }

  .progress-label {
    font-size: inherit;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: $progress-foreground-color;
  }

  &.rounded {
    .svg {
      stroke-linecap: round;
    }
  }

  &.indeterminate {
    .svg {
      // animation: rotate 1.2s infinite linear;
    }

    @keyframes rotate {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(359deg);
      }
    }
  }
}
