.#{prefix(Select)} {
  width: $Select-width;
  box-sizing: border-box;
  font-family: $Select-font-family;
  font-size: $size-md;
  background-color: $Select-background-color;
  border-radius: $Select-border-radius;
  position: relative;

  &.is-size-sm {
    font-size: $size-sm;

    .#{prefix(Select-arrow)} {
      height: $size-sm * 2;
      width: $size-sm * 2;

      svg {
        height: $size-sm;
        width: $size-sm;
      }
    }
  }

  &.is-size-md {
    font-size: $size-md;

    .#{prefix(Select-arrow)} {
      height: $size-md * 2;
      width: $size-md * 2;

      svg {
        height: $size-md;
        width: $size-md;
      }
    }
  }

  &.is-size-lg {
    font-size: $size-lg;

    .#{prefix(Select-arrow)} {
      height: $size-lg * 2;
      width: $size-lg * 2;

      svg {
        height: $size-lg;
        width: $size-lg;
      }
    }
  }
}

.#{prefix(Select-input)} {
  width: 100%;
  box-sizing: border-box;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  border: 1px solid $Select-border-color;
  font-family: $Select-font-family;
  font-size: $size-md;
  background-color: $Select-background-color;
  border-radius: $Select-border-radius;
  padding: 0.5em;

  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  &::-ms-expand { display: none; }

  &:focus {
    outline: 0;
    box-shadow: $Select-focus-shadow;
  }

  &.is-size-sm {
    font-size: $size-sm;
  }

  &.is-size-md {
    font-size: $size-md;
  }

  &.is-size-lg {
    font-size: $size-lg;
  }
}

.#{prefix(Select-arrow)} {
  box-sizing: border-box;
  position: absolute;
  right: 1px;
  top: 2px;
  background-color: $Select-background-color;
  height: $size-md * 2;
  width: $size-md * 2;
  pointer-events: none;

  svg {
    opacity: 0.5;
    height: $size-md;
    width: $size-md;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

