$prefix: 'rw-';

$unit: 1rem;

$size-sm: $unit * 0.75;
$size-md: $unit;
$size-lg: $unit * 1.5;

$color-primary: rgb(80, 120, 150);
$color-secondary: rgb(80, 80, 80);
$color-success: rgb(60, 170, 80);
$color-alert: rgb(200, 50, 0);
$color-warning: rgb(235, 160, 0);
$color-light: #fafafa;
$color-dark: #222222;
$color-white: #fff;
$color-black: #000;

$colors: (
  primary: $color-primary,
  secondary: $color-secondary,
  success: $color-success,
  alert: $color-alert,
  warning: $color-warning,
  light: $color-light,
  dark: $color-dark,
  white: $color-white,
  black: $color-black
);

$font-serif: serif;
$font-sans: Barlow, Raleway, Helvetica, Arial, sans-serif;
$font-mono: monospace;

$shadow-color: rgb(100, 200, 250);
$shadow: 0 0 10px $shadow-color;
$shadow-big: 0 0 16px $shadow-color;

$focus-color: rgb(50, 200, 200);
$focus-shadow: 0 0 0 2px transparentize($focus-color, 0.5);

$input-border-radius: 2px;
$input-border: 0.05em solid $color-dark;
$input-mark-color: $color-dark;
$input-disabled-background-color: #bbb;
$input-disabled-foreground-color: #222;
