@import '../shared/variables';

$spacings: (
  none: 0,
  tiny: 0.25rem,
  small: 0.5rem,
  normal: 1rem,
  large: 2rem,
  huge: 4rem
);

.#{$namespace} {
  &.flex-row {
    display: flex;
    flex: 1 0 auto;
    flex-direction: row;
    align-self: stretch;
    box-sizing: border-box;

    > .flex-box + .flex-box {
      margin-right: 0;
    }

    &.reverse {
      margin-left: 0;
      flex-direction: row-reverse;
    }

    @each $spacing, $size in $spacings {
      &.spacing-#{$spacing} {
        + .flex-row {
          margin-top: $size;
        }

        > .flex-box + .flex-box {
          margin-left: $size;
        }

        &.reverse > .flex-box + .flex-box {
          margin-left: 0;
          margin-right: $size;
        }
      }
    }
  }

  &.flex-col {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    align-self: stretch;
    box-sizing: border-box;

    > .flex-box + .flex-box {
      margin-top: 0;
    }

    &.reverse {
      margin-bottom: 0;
      flex-direction: column-reverse;
    }

    @each $spacing, $size in $spacings {
      &.spacing-#{$spacing} {
        + .flex-col {
          margin-left: $size;
        }

        > .flex-box + .flex-box {
          margin-top: $size;
        }

        &.reverse > .flex-box + .flex-box {
          margin-top: 0;
          margin-bottom: $size;
        }
      }
    }
  }

  &.flex-box {
    display: flex;
    flex: 1 0 auto;
    box-sizing: border-box;
  }

  &.fixed {
    flex-grow: 0;
    flex-shrink: 0;
  }

  &.half {
    flex-basis: calc(50% - #{$unit * 2 / 2});
  }

  &.ac-top-left {
    align-items: flex-start;
    justify-content: flex-start;
  }

  &.ac-top-center {
    align-items: flex-start;
    justify-content: center;
  }

  &.ac-top-right {
    align-items: flex-start;
    justify-content: flex-end;
  }

  &.ac-center-left {
    align-items: center;
    justify-content: flex-start;
  }

  &.ac-center-center {
    align-items: center;
    justify-content: center;
  }

  &.ac-center-right {
    align-items: center;
    justify-content: flex-end;
  }

  &.ac-bottom-left {
    align-items: flex-end;
    justify-content: flex-start;
  }

  &.ac-bottom-center {
    align-items: flex-end;
    justify-content: center;
  }

  &.ac-bottom-right {
    align-items: flex-end;
    justify-content: flex-end;
  }
}

// @import '../shared/variables';
//
// .#{$namespace} {
//   &.flex-row {
//     display: flex;
//     flex: 1 0 auto;
//     flex-direction: row;
//     align-self: stretch;
//     box-sizing: border-box;
//
//     > .flex-box + .flex-box {
//       margin-left: 2 * $unit;
//       margin-right: 0;
//     }
//
//     + .flex-row {
//       margin-top: 2 * $unit;
//     }
//
//     &.reverse {
//       flex-direction: row-reverse;
//
//       > .flex-box + .flex-box {
//         margin-left: 0;
//         margin-right: 2 * $unit;
//       }
//     }
//   }
//
//   &.flex-col {
//     display: flex;
//     flex: 1 0 auto;
//     flex-direction: column;
//     align-self: stretch;
//     box-sizing: border-box;
//
//     > .flex-box + .flex-box {
//       margin-top: 2 * $unit;
//       margin-bottom: 0;
//     }
//
//     &.reverse {
//       flex-direction: column-reverse;
//
//       > .flex-box + .flex-box {
//         margin-top: 0;
//         margin-bottom: 2 * $unit;
//       }
//     }
//   }
//
//   &.flex-box {
//     display: flex;
//     flex: 1 0 auto;
//     box-sizing: border-box;
//   }
//
//   &.fixed {
//     flex-grow: 0;
//     flex-shrink: 0;
//   }
//
//   &.half {
//     flex-basis: 50%;
//   }
//
//   &.ac-top-left {
//     align-items: flex-start;
//     justify-content: flex-start;
//   }
//
//   &.ac-top-center {
//     align-items: flex-start;
//     justify-content: center;
//   }
//
//   &.ac-top-right {
//     align-items: flex-start;
//     justify-content: flex-end;
//   }
//   &.ac-center-left {
//     align-items: center;
//     justify-content: flex-start;
//   }
//
//   &.ac-center-center {
//     align-items: center;
//     justify-content: center;
//   }
//
//   &.ac-center-right {
//     align-items: center;
//     justify-content: flex-end;
//   }
//
//   &.ac-bottom-left {
//     align-items: flex-end;
//     justify-content: flex-start;
//   }
//
//   &.ac-bottom-center {
//     align-items: flex-end;
//     justify-content: center;
//   }
//
//   &.ac-bottom-right {
//     align-items: flex-end;
//     justify-content: flex-end;
//   }
// }
