@import '../shared/variables';

.checkbox.#{$namespace} {
  cursor: pointer;

  &:focus {
    outline: 0;

    .checkbox-icon.#{$namespace} {
      box-shadow: $shadow;
    }
  }
}

.checkbox-icon.#{$namespace} {
  display: inline-block;
  width: 1em;
  height: 1em;
  border: $input-border;
  border-radius: $input-border-radius;
  box-sizing: border-box;
  position: relative;
}

.checkbox-mark.#{$namespace} {
  display: inline-block;
  width: 0.25em;
  height: 0.5em;
  border-color: $input-mark-color;
  border-width: 0 0.2em 0.2em 0;
  border-style: solid;
  transform: rotate(45deg);
  position: absolute;
  left: 0.22em;
  top: 0.03em;
}
//
//   input[type="checkbox"] {
//     position: absolute;
//     left: -9999px;
//
//     &:before {
//       content: '';
//       box-sizing: border-box;
//       display: block;
//       width: 1em;
//       height: 1em;
//       background: $light;
//       border-radius: 0.2em;
//       border-radius: $input-border-radius;
//       border: $input-border;
//       margin: 0;
//       position: absolute;
//       left: 0;
//       top: 0;
//     }
//
//     &:focus {
//       outline: none;
//
//       &:before {
//         border-color: $focus-color;
//         box-shadow: $shadow;
//       }
//     }
//   }
//
//   &.disabled {
//     opacity: 0.7;
//     cursor: default;
//
//     input[type="checkbox"]:before {
//       background: $input-disabled-background-color;
//       border-color: $input-disabled-foreground-color;
//     }
//
//     input[type="checkbox"]:after {
//       opacity: 0.7;
//     }
//   }
//
//   &.checked:after {
//     font: normal normal normal 14px/1 FontAwesome;
//     font-size: inherit;
//     content: '\f00c';
//     color: $input-mark-color;
//     display: block;
//     width: 0.8em;
//     height: 0.8em;
//     position: absolute;
//     left: 0;
//     top: 0.01em;
//   }
//
//   &.indeterminate:after {
//     content: ' ';
//     display: block;
//     background: $input-mark-color;
//     border-radius: $input-border-radius;
//     width: 0.75em;
//     height: 0.25em;
//     position: absolute;
//     left: 0.125em;
//     top: 0.375em;
//   }
// }
