$gradient-height: 120px;
$component-width: 300px;
$range-input-height: 16px;
$border-color: #555;

@mixin slider-reset() {
  -webkit-appearance: none;
  background: transparent;
  &::-webkit-slider-thumb { 
    -webkit-appearance: none; 
  }
  &::-ms-tooltip {
    display: none;
  }
  &::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
}

@mixin thumb() {
  border: 1px solid $border-color;
  height: $range-input-height;
  width: 8px;
  cursor: pointer;
  margin-top: 0;
  background: #fff;
  box-sizing: border-box;
}

@mixin track($hue: true) {
  width: 100%;
  cursor: pointer;
  padding: 0;

  @if ($hue) {
    background: linear-gradient(
      to right, 
      rgb(255, 0, 0) 0%, 
      rgb(255, 255, 0) 17%, 
      rgb(0, 255, 0) 33%, 
      rgb(0, 255, 255) 50%, 
      rgb(0, 0, 255) 67%, 
      rgb(255, 0, 255) 83%, 
      rgb(255, 0, 0) 100%);
  }
  @else {
    background: transparent;
  }
}

@include component(colorpicker) {
  width: $component-width;
  border: 1px solid $border-color;
  font-family: monospace;

  @include subcomponent(preview) {
    height: 3 * $unit;
    width: 3 * $unit;
    background-image: 
      linear-gradient(
        45deg,
        #bbb 25%,
        transparent 25%, 
        transparent 75%, 
        #bbb 75%,
        #bbb),
      linear-gradient(
        45deg,
        #bbb 25%,
        transparent 25%,
        transparent 75%,
        #bbb 75%,
        #bbb);
    background-size: $range-input-height $range-input-height;
    background-position: 0 0, 8px 8px;
  }

  @include subcomponent(preview-color) {
    width: 100%;
    height: 100%;
  }

  @include subcomponent(controls) {
    margin: $unit;
  }

  @include subcomponent(gradient-base) {
    width: 100%;
    height: $gradient-height;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }

  @include subcomponent(gradient-lightness) {
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 1.0),
      rgba(255, 255, 255, 0));
  }

  @include subcomponent(gradient-darkness) {
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 1.0),
      rgba(0, 0, 0, 0));
  }

  @include subcomponent(gradient-marker) {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    border: 1px solid $border-color;
    background-color: #fff;
    position: absolute;
    transform: translate(-3px, -3px);
    pointer-events: none;
  }

  @include subcomponent(hue-slider) {
    margin: 0;
    width: 100%;
    height: $range-input-height;
    cursor: pointer;
    @include slider-reset();

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      @include thumb();
    }

    &::-moz-range-thumb {
      @include thumb();
    }

    &::-ms-thumb {
      @include thumb();
    }

    &::-webkit-slider-runnable-track {
      -webkit-appearance: none;
      @include track();
    }

    &::-moz-range-track {
      @include track();
    }

    &::-ms-track {
      @include track();
      height: $range-input-height;
    }
  }

  @include subcomponent(alpha-slider-bg) {
    width: 100%;
    height: $range-input-height;
    background-color: #eee;
    background-image:
      linear-gradient(
        45deg,
        #bbb 25%,
        transparent 25%, 
        transparent 75%, 
        #bbb 75%,
        #bbb),
      linear-gradient(
        45deg,
        #bbb 25%,
        transparent 25%,
        transparent 75%,
        #bbb 75%,
        #bbb);
    background-size: $range-input-height $range-input-height;
    background-position: 0 0, 8px 8px;
  }

  @include subcomponent(alpha-slider) {
    margin: 0;
    width: 100%;
    height: $range-input-height;
    cursor: pointer;
    @include slider-reset();

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      @include thumb();
    }

    &::-moz-range-thumb {
      @include thumb();
    }

    &::-ms-thumb {
      @include thumb();
    }

    &::-webkit-slider-runnable-track {
      -webkit-appearance: none;
      @include track(false);
    }

    &::-moz-range-track {
      @include track(false);
    }

    &::-ms-track {
      @include track(false);
    }
  }

  @include subcomponent(mode-toggle) {
    width: 3 * $unit;
    font-family: inherit;
    font-size: 0.75rem;
    cursor: pointer;
    text-transform: uppercase;
    max-width: 2.5rem;
    padding: 2px;
    color: #fff;
    background-color: $border-color;
    border: none;
  }

  @include subcomponent(number-input) {
    -webkit-appearance: none;
    appearance: none;
    font-family: inherit;
    max-width: 3rem;
    border: none;
    border-bottom: 1px solid $border-color;
    text-align: center;

    -moz-appearance: textfield;
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
    }
  }
}