.#{$namespace} {
  &.mod-d-block { display: block !important; }
  &.mod-d-inline { display: inline !important; }
  &.mod-d-inline-block { display: inline-block !important; }
  &.mod-d-table { display: table !important; }
  &.mod-d-flex { display: flex !important; }
  &.mod-d-table { display: table !important; }
  &.mod-d-none { display: none !important; }

  &.mod-o-scroll-x { overflow-y: hidden !important; overflow-x: auto !important; }
  &.mod-o-scroll-y { overflow-x: hidden !important; overflow-y: auto !important; }
  &.mod-o-scroll { overflow: auto !important; }
  &.mod-o-hidden { overflow: hidden !important; }

  @each $colorName, $color in $colors {
    &.mod-c-#{$colorName} { color: $color !important; }
    &.mod-bg-#{$colorName} { background-color: $color !important; }
  }

  @each $sizeName, $size in $sizes {
    &.mod-size-#{$sizeName} { font-size: $size !important; }
    &.mod-w-#{$sizeName} { width: $size !important; }
    &.mod-h-#{$sizeName} { height: $size !important; }

    &.mod-ma-#{$sizeName} { margin: $size !important; }
    &.mod-ml-#{$sizeName} { margin-left: $size !important; }
    &.mod-mr-#{$sizeName} { margin-right: $size !important; }
    &.mod-mt-#{$sizeName} { margin-top: $size !important; }
    &.mod-mb-#{$sizeName} { margin-bottom: $size !important; }
    &.mod-mv-#{$sizeName} { margin-top: $size !important; margin-bottom: $size !important; }
    &.mod-mh-#{$sizeName} { margin-left: $size !important; margin-right: $size !important; }
    
    &.mod-pa-#{$sizeName} { padding: $size !important; }
    &.mod-pl-#{$sizeName} { padding-left: $size !important; }
    &.mod-pr-#{$sizeName} { padding-right: $size !important; }
    &.mod-pt-#{$sizeName} { padding-top: $size !important; }
    &.mod-pb-#{$sizeName} { padding-bottom: $size !important; }
    &.mod-pv-#{$sizeName} { padding-top: $size !important; padding-bottom: $size !important; }
    &.mod-ph-#{$sizeName} { padding-left: $size !important; padding-right: $size !important; }
  }
}