@import '../common/_variables';

ul.list-view.#{$namespace} {
  margin: 0;
  padding: 0;
  width: 100%;

  .list-view-item {
    list-style-type: none;
    padding: 0.5rem;
    border-bottom: 1px solid $color-dark;
    cursor: pointer;

    &.selected {
      background: teal;
    }

    &:hover {
      // background: yellow;
    }

    &.current {
      transform: scale(1.01);
    }
  }
}
